{% include parent_include_directory ~ '/templates/_includes/global/header.html.twig' %}

<main class="main-content" id="main-content">

	{{ messages }}
	{{ page.help }}

	{# Internal page Hero #}
	<div class="hero-image" style="background-image:url('{{ hero_image }}')"></div>
	<header class="post-header">
		<div
			class="compartment">
			{# Manually fake the breadcrumbs #}
			<nav aria-label="breadcrumb" class="breadcrumb">
				<ol class="breadcrumb__items">
					<li class="breadcrumb__item">
						<a href="/">
							<span class="breadcrumb__back-to-parent">Back to
							</span>
							<span class="breadcrumb__item-text">Home</span>
						</a>
					</li>
					<li class="breadcrumb__item breadcrumb__item--active">
						Login
					</li>
				</ol>
			</nav>
			<h1 class="post-header__title">Login</h1>
		</div>
	</header>
	<section class="section--padded-top section--padded-bottom">
		<div class="compartment">
			<div
				class="silc-grid silc-grid--collapse">
				{# Howard login #}
				<div class="silc-grid__col silc-grid__col--6-large">
					<div class="hu_login hu_login--saml">
						<h2>Site Builder Login</h1>
						<p>Howard University Site Builders can access this site via the Office 365 Portal. If you manage content for this website, you are a Site Builder.</p>
						{{ login_block }}
					</div>
				</div>
				{# Drupal login #}
				<div class="silc-grid__col silc-grid__col--6-large">
					<div class="hu_login hu_login--local">
						<h3>Administrator Login</h3>
						<p>Only for Office of University Communications site administrators.</p>
						{{ page.content }}
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% include parent_include_directory ~ '/templates/_includes/global/footer.html.twig' %}
