{# Homepage Hero (standard) #}
<div class="department-title section--blue-blend section--padded-large">
    <div class="background" style="background-image:url('{{ home_intro_image }}')"></div>
    <div class="compartment">
        <div class="silc-grid silc-grid--collapse">
            <div class="silc-grid__col silc-grid__col--8-medium">
               {% if content.field_hc_intro_title|render %}
                    <h2 class="header--white header--page-intro">{{ content.field_hc_intro_title }}</h2>
                {% endif %}
                {% if content.field_hc_intro_text|render %}
                <p class="lead-in-large">{{ content.field_hc_intro_text }}</p>
                {% endif %}
                {% if content.field_hc_intro_image_links|render %}
                    <div class="header--page-links">
                        {% for key, item in content.field_hc_intro_image_links %}
                            {%  if key|first != '#' %}
                                <a href="{{ content.field_hc_intro_image_links[key]['#url'] }}" class="btn"{% if content.field_hc_intro_image_links[key]['#options'].attributes.target %} target="{{ content.field_hc_intro_image_links[key]['#options'].attributes.target }}"{% endif %}>
                                    <span class="btn__text">{{ content.field_hc_intro_image_links[key]['#title'] }}</span>
                                    <span class="icon-arrow-right"></span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
				{% endif %}
            </div>
            {% if show_intro_sidebar %}
                <div class="silc-grid__col silc-grid__col--4-medium">
                    <div class="contact-box">
                        {% if content.field_hc_intro_sidebar_title[0] %}
                            <h2 class="sidebar-title">{{ content.field_hc_intro_sidebar_title }}</h2>
                        {% endif %}
                        {{ content.field_hc_intro_sidebar_text }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
