{# Homepage Hero (video) #}
<section class="hero-video section--blue-blend" aria-label="Howard University">
    {% if not hide_overlay %}
        <div class="blue-overlay--video-image"></div>
    {% endif %}
    {% if hero_media_video %}
        <div data-vimeo-id="{{ hero_media_video }}" data-vimeo-defer id="hcsh-hero-video"></div>
    {% endif %}
        <div class="compartment">
            <div class="silc-grid silc-grid--collapse">
                <div class="silc-grid__col silc-grid__col--8-medium">
                    {% if content.field_hc_intro_image_text|render %}
                        <h2 class="header--white header--page-intro">{{ content.field_hc_intro_image_text }}</h2>
                    {% endif %}
                    {% if content.field_hc_intro_image_links|render %}
                        <div class="header--page-links">
                            {% for key, item in content.field_hc_intro_image_links if key|first != '#' %}
                                <a href="{{ content.field_hc_intro_image_links[key]['#url'] }}" class="btn"{% if content.field_hc_intro_image_links[key]['#options'].attributes.target %} target="{{ content.field_hc_intro_image_links[key]['#options'].attributes.target }}"{% endif %}>
                                    <span class="btn__text">{{ content.field_hc_intro_image_links[key]['#title'] }}</span>
                                    <span class="icon-arrow-right"></span>
                                </a>
                            {% endfor %}
                        </div>
					 {% endif %}
                </div>
            </div>
        </div>
    <div class="hcsc_hero_video_controls">
        <div class="hcsc_hero_video_control hcsc_hero_video_pause_control">
            <div class="hcsc_hero_video_pause">
                <span class="visible-for-screen-readers">Pause</span>
            </div>
        </div>
        <div class="hcsc_hero_video_control hcsc_hero_video_play_control visually-hidden">
            <div class="hcsc_hero_video_play">
                <span class="visible-for-screen-readers">Play</span>
            </div>
        </div>
    </div>
</section>
