{# Homepage Hero (image) #}
<section class="hero-image-home section--blue-blend">
    <div class="hero-image hero-image--large" style="background-image:url('{{home_hero_image}}')"></div>
    {% if not hide_overlay %}
        <div class="blue-overlay--video-image"></div>
    {% endif %}
        <div class="compartment">
            <div class="silc-grid silc-grid--collapse">
                <div class="silc-grid__col silc-grid__col--8-medium">
                    {% if content.field_hc_intro_image_text|render %}
                        <h2 class="header--white header--page-intro">{{ content.field_hc_intro_image_text }}</h2>
                    {% endif %}
                    {% if content.field_hc_intro_image_links|render %}
                        <div class="header--page-links">
                            {% for key, item in content.field_hc_intro_image_links if key|first != '#' %}
                                <a href="{{ content.field_hc_intro_image_links[key]['#url'] }}" class="btn"{% if content.field_hc_intro_image_links[key]['#options'].attributes.target %} target="{{ content.field_hc_intro_image_links[key]['#options'].attributes.target }}"{% endif %}>
                                    <span class="btn__text">{{ content.field_hc_intro_image_links[key]['#title'] }}</span>
                                    <span class="icon-arrow-right"></span>
                                </a>
                            {% endfor %}
                        </div>
					 {% endif %}
                </div>
            </div>
        </div>
</section>
