{#
/**
 * @file
 * Theme override to display an HC Resource node Teaser.
 */
#}

<!-- content -->
<section class="section--padded-top">
  <div class="compartment">
    <div class="silc-grid silc-grid--collapse">
      <div class="silc-grid__col silc-grid__col--12-large kitchen-sink--main-col">
        <h3 class="news-and-events__title header--h3-small">{{node.title.value}}</h3>
        <p class="body-text--small">{{ content.body }}</p>
        <a href="{{ url }}" class="fancy-link">
          <span>Read More
            <span class="visually-hidden">
                about
                {{ node.title.value }}
            </span>
          </span>
          <span class="icon-arrow-right"></span>
        </a>
        <!-- Render without, so quickedit/etc works -->
        {{ content|without('field_hc_resource_sidebar_title', 'field_hc_resource_contact_name', 'field_hc_resource_contact_email', 'field_hc_resource_contact_addres', 'body', 'field_hc_resource_category', 'field_hc_header_image', 'field_hc_resource_cta_link', 'field_hc_resource_documents', 'field_hc_lead_in') }}
      </div>
    </div>
  </div>
</section>
