{#
/**
 * @file
 * Theme override to display an HC Article node.
 */
#}

<!-- Internal Page Hero -->
{% if show_hero_image %}
  {% include directory ~ '/templates/_includes/global/content_header.html.twig' %}
{% else %}
  {% include directory ~ '/templates/_includes/global/content_header_no_image.html.twig' %}
{% endif %}

<!-- Main content -->
<section class="section--padded-top{{not node.isPublished() ? ' node--unpublished'}}">

  <div class="compartment">
    {{ content.content_moderation_control }}
      <div class="silc-grid silc-grid--collapse">
        <!-- Sidebar -->
          <div class="silc-grid__col silc-grid__col--2-large">
            <aside class="sidebar">
              {{ page_sidebar }}
            </aside>
          </div>
          <!-- Main column -->
          <div class="silc-grid__col silc-grid__col--10-large kitchen-sink--main-col">
              {% if content.field_hc_article_date %}
                <div class="hc-article--date">
                  {{ content.field_hc_article_date }}
                </div>
              {% endif %}
              {% if content.field_hc_featured_image %}
                <div class="hc-article--featured-image">
                  {{ content.field_hc_featured_image }}
                </div>
              {% endif %}
              {{ content.body }}
              {% if content.field_hc_article_category %}
                <div class="hc-article--categories">
                  <h3>Categories</h3>
                  {%- for item in content.field_hc_article_category['#items'] -%}
                    {%- if loop.first -%}
                      {{- item.entity.name.value -}}
                    {%- elseif loop.last -%}
                      {{- ' and ' ~ item.entity.name.value -}}
                    {%- else -%}
                      {{- ', ' ~ item.entity.name.value -}}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              {% endif %}
              <!-- Render without, so quickedit/etc works -->
{{ content|without('content_moderation_control','body', 'field_hc_featured_image', 'field_hc_article_category', 'field_hc_header_image', 'field_hc_hide_header_image', 'field_hc_article_date') }}

          </div>
      </div>
  </div>
</section>
