{#
/**
 * @file
 * Theme override to display an HC Page node teaser.
 */
#}

<!-- content -->
<section class="section--padded-top{{not node.isPublished() ? ' node--unpublished'}}">

  <div class="compartment">
    {{ content.content_moderation_control }}
      <div class="silc-grid silc-grid--collapse">
          <div class="silc-grid__col silc-grid__col--12-large kitchen-sink--main-col">
            <h3 class="news-and-events__title header--h3-small">{{ node.title.value }}</h3>
            {{ content.field_hc_ks_widgets }}
            <a href="{{ url }}" class="fancy-link">
              <span>Read More
                <span class="visually-hidden">
                  about
                  {{ node.title.value }}
                </span>
              </span>
              <span class="icon-arrow-right"></span>
            </a>
            <!-- Render without, so quickedit/etc works -->
{{ content|without('content_moderation_control','field_hc_header_image', 'links', 'field_hc_hide_header_image', 'field_hc_ks_widgets', 'field_hc_ks_widgets_full') }}

          </div>
      </div>
  </div>
</section>
