{#
/**
 * @file
 * Theme override to display an HC Resource node.
 */
#}

<!-- Internal Page Hero -->
{% if show_hero_image %}
	{% include directory ~ '/templates/_includes/global/content_header.html.twig' %}
{% else %}
	{% include directory ~ '/templates/_includes/global/content_header_no_image.html.twig' %}
{% endif %}


<!-- Content -->
<section class="section--padded-top">
  <div class="compartment">

    {% if content.field_hc_lead_in|render  %}
        <div class="silc-grid silc-grid--collapse">
          <div class="silc-grid__col silc-grid__col--12">
              <p class="lead-in">{{ content.field_hc_lead_in }}</p>
          </div>
        </div>
    {% endif %}

    <div class="silc-grid silc-grid--collapse">
      <!-- Main Body -->
      <div class="silc-grid__col silc-grid__col--9-large kitchen-sink--main-col">
        {{ content.body }}
        {% if content.field_hc_resource_cta_link|render %}
          {% for key, item in content.field_hc_resource_cta_link if key|first != '#' %}
            <a href="{{ item['#url'] }}" class="btn" {% if item['#options'].attributes.target %} target="{{ item['#options'].attributes.target }}" {% endif %}>
              <span class="btn__text">{{ item['#title'] }}</span>
              <span class="icon-arrow-right"></span>
            </a>
          {% endfor %}
        {% endif %}

        <!-- Render without, so quickedit/etc works -->
{{ content|without('field_hc_resources_related','field_hc_resource_sidebar_title', 'field_hc_resource_contact_name', 'field_hc_hide_header_image','field_hc_resource_contact_email', 'field_hc_resource_contact_addres', 'body', 'field_hc_resource_category', 'field_hc_header_image', 'field_hc_resource_cta_link', 'field_hc_resource_documents', 'field_hc_lead_in') }}


      </div>
      <!-- Sidebar -->
      <div class="silc-grid__col silc-grid__col--3-large">
        <aside class="sidebar">
          {% if (content.field_hc_resource_contact_name|render) or (content.field_hc_resource_contact_email|render) or (content.field_hc_resource_contact_addres|render) %}
            <div class="contact-box">
              <h3 class="sidebar-title">{{ content.field_hc_resource_sidebar_title }}</h3>
              <p>
              {% if (content.field_hc_resource_contact_name|render) %}
                <strong>{{ content.field_hc_resource_contact_name }}</strong>
              {% endif %}
              {% if (content.field_hc_resource_contact_name|render) and (content.field_hc_resource_contact_email|render) %}
              <br>
              {% endif %}
              {% if (content.field_hc_resource_contact_email|render) %}
                <strong>{{ content.field_hc_resource_contact_email }}</strong>
              {% endif %}
              </p>
                {{ content.field_hc_resource_contact_addres }}
            </div>
          {% endif %}
        </aside>
      </div>

    </div>
  </div>
</section>

{% if content.field_hc_resource_documents|render %}
<div class="compartment">
	<section class="section--padded-top section--padded-bottom" aria-label="Resource Documents">
		<div class="documents">
			<div class="block-header">
				<div class="block-header__title">
					<span class=" block-header__icon icon-paper"></span>
					<h2>Documents &amp; Forms</h2>
				</div>
			</div>
			{{ content.field_hc_resource_documents }}
		</div>
	</section>
  </div>
{% endif %}
{% if content.field_hc_resources_related|render %}
<div class="compartment">
	<section class="section--padded-top section--padded-bottom" aria-label="Related Resources">
		<div class="documents">
			<div class="block-header">
				<div class="block-header__title">
					<span class="block-header__icon icon-info"></span>
					<h2>Related Resources</h2>
				</div>
			</div>
			{% for key, item in content.field_hc_resources_related if key|first != '#' %}
				<a href="{{ item['#url'] }}" class="fancy-link" target="_blank">
					<span>{{ item['#title'] }}</span>
					<span class="icon-arrow-right"></span>
				</a>
			{% endfor %}
		</div>
	</section>
  </div>
{% endif %}
